.section_type_narrow {
	width: calc(100% - 2 * 148px);
}

@media screen and (max-width: 1279px) {
	.section_type_narrow {
		width: calc(100% - 2 * 48px);
	}
}

@media screen and (max-width: 1023px) {
	.section_type_narrow {
		width: 100%;
	}
}